.page{
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}







.header{
    display: flex;
    min-height: 80px;
    width: 100%;
    justify-content: space-between;
}

.header__logo{
    width: 176px;
    height: 52px;
    margin: 28px 0 0 48px;
}

.header__langs{
    display: flex;
    align-self: flex-start;
    margin: 46px 48px 0 0;
}


.lang-link{
    width: 30px;
    height: 28px;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: white;

}
.lang-link:first-child{
    margin: 0;
}

.lang-link:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}

.header__lang-link_active{
    text-decoration: underline;
}






.content{
    width: 100%;
    color: white;
}






.lead{
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    align-items: center;

}

.lead__title{
    width: 720px;
    height: 200px;
    font-weight: 900;
    font-size: 96px;
    font-style: normal;
    line-height: 100px;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
}

.lead__subtitle{
    width: 640px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
}

.lead__container{
    margin-top: 64px;
}

.lead__image{
    object-fit: cover;
    width: 100%;
}

.lead__caption{
    width: 100%;
    text-transform: uppercase;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin-top: 8px;
}





.intro{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 92px;
    max-width: 984px;
    min-width: 288px;
    margin:0 auto;
}


.intro__title{
    width: 690px;
    height: 58px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
}

.intro__text{
    width: 690px;
    height: 208px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding: 40px 0 33px;
}

.intro__lists{
    display: flex;
    flex-direction: column;
    width: 690px;
    height: 90px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.intro__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.intro__list{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}






.photo-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 92px 0;
}

.photo-grid__area{
    max-width: 1184px;
    display: grid;
    grid-template:repeat(3, 213px)/ repeat(4, 284px);
    gap: 16px;
}

.photo-grid__item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}





.places{
    margin: 0 auto;
    width: 100%;

}

.place{
    margin: 0 auto;
    padding:0 0 80px;
    width: 100%;
    max-width: 984px;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 494px);
    gap: 48px 40px;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraphs";
}

.place:last-child{
    padding: 92px;
}

.place__title{
    grid-area: place__title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

.place__image{
    grid-area: place__image;
    width: 100%;
}

.place__website{
    grid-area: place__website;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.place__url-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #AAAAAA;
}

.place__link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
    align-self: start;
}
.place__link:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}

.place__paragraphs{
    grid-area: place__paragraphs;
}

.place__paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
}
.place__paragraph:first-child{
    margin-bottom: 28px;
}





.cover{
    width: 100%;
    min-width: 320px;
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
    
}

.cover__overlay{
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/background-trains.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-decoration: none;
}


.cover__overlay::after {
    content: "";
    display: block;
    background-color: #2A2C2F;
    opacity: 0.35;
    cursor: url(./images/cursor.png), pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
  }
  

  .cover__overlay:hover::after {
    opacity: 0.75;
  }

  
  .cover__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .cover__content:hover{
    cursor: url(./images/cursor.png), pointer;
  }

.cover__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    max-width: 560px;
    position: relative;
    z-index: 1;
}

.cover__subtitle{
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    padding: 32px 0 0;
    position: relative;
    z-index: 1;
}





.footer{
    max-width: 1184px;
    width: 100%;
    padding: 92px 48px 24px;
    color: #ffffff;
    display: flex;

    
}

.footer__menu{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    
}

.footer__item{
    padding-right: 18px;
}
.footer__item:last-child{
    padding: 0;
}


.footer__link{
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}
.footer__link:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}

.footer__copyright{
    max-width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
}

.footer__author{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
}
.footer__author:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}