.page{
    font-family: 'Inter', Arial, sans-serif;
    background-color: #2A2C2F;
    max-width: 1280px;
    min-width: 320px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;  
}







.header{
    display: flex;
    min-height: 80px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    transition: all 0.5s ease-out;
}
@media screen and (max-width: 730px) {
.header{
    min-height: 58px;   
    }
}


.header__logo{
    width: 176px;
    height: 52px;
    margin: 28px 0 0 48px;
    transition: all 0.5s ease-out;
}
@media screen and (max-width: 768px){
.header__logo{
    margin: 28px 0 0 24px;
}
}
@media screen and (max-width: 730px){
.header__logo{
    width: 142px;
    height: 42px;
    margin: 16px 0 0 16px;
}
}


.header__langs{
    display: flex;
    align-self: flex-start;
    margin: 46px 48px 0 0;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px) {

.header__langs{
    margin: 46px 24px 0 0;
}

}

@media screen and (max-width: 730px){
 
.header__langs{
    margin: 30px 16px 0 0;
}

}


.header__lang-link{
    width: 30px;
    height: 28px;
    margin-left: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: white;   
    transition: all 0.5s ease-out;
}
.header__lang-link:first-child{
    margin: 0;
}

.header__lang-link:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}

.header__lang-link_active{
    text-decoration: underline;
}

@media screen and (max-width: 730px){

.header__lang-link{
    width: 22px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
}

}





.content{
    width: 100%;
    color: white;
}






.lead{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    align-items: center;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px){

.lead{
    padding: 48px 48px 0;
}

}

@media screen and (max-width: 1023px){

.lead{
    padding: 48px 0 0 0;
}
    
}


.lead__title{
    width: 720px;
    height: 200px;
    font-weight: 900;
    font-size: 96px;
    font-style: normal;
    line-height: 100px;
    text-align: center;
    margin: 0;
    padding-bottom: 32px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 730px){

.lead__title{
    width: 288px;
    height: 88px;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 16px;
}

}


.lead__subtitle{
    width: 640px;
    height: 72px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 0;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 730px){

.lead__subtitle{
    width: 288px;
    height: 40px;
    font-size: 16px;
    line-height: 20px;
}

}


.lead__container{
    margin: 0;
    padding-top: 64px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px){

.lead__container{
    padding-top: 56px;
}

}

@media screen and (max-width: 730px){

.lead__container{
    padding-top: 40px;
}
    
}


.lead__image{
    width: 100%;
    transition: all 0.5s ease-out;
}



.lead__caption{
    width: 100%;
    text-transform: uppercase;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    margin-top: 8px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px){

.lead__caption{
    padding-left: 24px;
}

}

@media screen and (max-width: 730px){

.lead__caption{
    padding-left: 16px;
}
    
}




.intro{
    width: 100%;
    padding-top: 92px;
    max-width: 984px;
    min-width: 288px;
    margin: 0 auto;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px){

.intro{ 
    margin: 0;
    padding-left: 48px;
}
}

@media screen and (max-width: 780px){

.intro{
    padding: 88px 24px 0 24px;
}

}

@media screen and (max-width: 730px){

.intro{
    padding: 64px 16px 0 16px;
}
    
}


.intro__title{
    max-width: 690px;
    min-width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin: 0;
    transition: all 0.5s ease-out;
    
}


@media screen and (max-width: 768px){

.intro__title{
    font-size: 54px;
    line-height: 58px;
}

}

@media screen and (max-width: 730px){

.intro__title{
    font-size: 32px;
    line-height: 35px;
}
    
}


.intro__text{
    max-width: 690px;
    min-width: 288px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    margin: 0;
    padding: 40px 0 33px;
    transition: all 0.5s ease-out;
}



.intro__lists{
    display: flex;
    flex-direction: column;
    min-width: 288px;
    max-width: 690px;
    height: 90px;
    list-style: none;
    padding: 0;
    margin: 0;
}



.intro__name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

.intro__list{
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
}






.photo-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 92px 24px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px){

.photo-grid{
    padding: 88px 24px;
}

}

@media screen and (max-width: 730px){

.photo-grid{
    padding: 64px 0;
}
    
}



.photo-grid__area{
    max-width: 1184px;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 16px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px){

.photo-grid__area{
    grid-template-columns: repeat(3, 300px); 
    gap: 14px;   
}
        
}

@media screen and (max-width: 974px){

.photo-grid__area{
    grid-template-columns: repeat(2, 352px); 
    gap: 16px;   
}
            
}

@media screen and (max-width: 730px){

.photo-grid__area{
    grid-template-columns: repeat(1, 288px); 
    gap: 12px;   
}
                
}


.photo-grid__item{
    width: 100%;
    height: 100%;
}





.places{
    max-width: 984px;
    margin: 0 auto;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px){

.places{
    max-width: 928px;  
}
    
}

@media screen and (max-width: 768px){

.places{
    max-width: 720px;  
}
        
}


@media screen and (max-width: 730px){

.places{
    max-width: 320px; 
}
            
}





.place{
    margin: 0 auto;
    padding:0 0 80px;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(320px, 460px) minmax(288px, 484px);
    gap: 48px 40px;
    grid-template-areas: 
    "place__title place__website"
    "place__image place__paragraphs";
    transition: all 0.5s ease-out;
}

.place:last-child{
    padding: 0 0 92px;
}

@media screen and (max-width: 1024px){

.place{
    gap: 48px 32px;
}
    
    
}

@media screen and (max-width: 768px){

.place{
    padding:0 0 73px;
    gap: 48px 28px;
}

.place:last-child{
    padding: 0 0 90px;
}

}

@media screen and (max-width: 730px){

.place{
    padding:0 0 50px;
    grid-template-columns: minmax(288px, 320px);
    grid-template-areas:
        "place__title"
        "place__website"
        "place__image"
        "place__paragraphs";
    row-gap: 32px;
}
}
    

.place:last-child{
    padding: 0 0 66px;
}
    



.place__title{
    grid-area: place__title;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 768px){

.place__title{
    font-size: 42px;
    line-height: 46px;
}

}

@media screen and (max-width: 730px){

.place__title{
    font-size: 32px;
    line-height: 35px;
    padding: 0 16px;
    margin: 0;
}
    
}


.place__image{
    grid-area: place__image;
    width: 100%;
}

.place__website{
    grid-area: place__website;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (max-width: 730px){

.place__website{
    padding: 0 16px;
}

}

.place__url-heading{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 170%;
    color: #AAAAAA;
}

@media screen and (max-width: 768px){

.place__website{
    font-size: 12px;
    line-height: 12px;
}
        
}

@media screen and (max-width: 730px){

.place__website{
    padding: 0 16px;
}
    
}

.place__link{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
    align-self: start;
}
.place__link:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}

.place__paragraphs{
    grid-area: place__paragraphs;
}

@media screen and (max-width: 730px){

.place__paragraphs{
    padding: 0 16px;
}

}

.place__paragraph{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    margin: 0;
}
.place__paragraph:first-child{
    margin-bottom: 28px;
}


@media screen and (max-width: 768px){

.place__paragraph{
    font-size: 16px;
}
.place__paragraph:first-child{
    margin-bottom: 25px;
}

}




.cover{
    width: 100%;
    min-width: 320px;
    max-width: 1184px;
    margin: 0 auto;
    position: relative;
    
}

.cover__overlay{
    max-width: 1184px;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./images/background-trains.jpg);
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-decoration: none;
}


.cover__overlay::after {
    content: "";
    display: block;
    background-color: #2A2C2F;
    opacity: 0.35;
    cursor: url(./images/cursor.png), pointer;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all 0.6s ease-in-out;
  }
  

  .cover__overlay:hover::after {
    opacity: 0.75;
  }

  
  .cover__content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .cover__content:hover{
    cursor: url(./images/cursor.png), pointer;
  }

.cover__title{
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    margin: 0;
    max-width: 560px;
    position: relative;
    z-index: 1;
}

.cover__subtitle{
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 0 auto;
    padding: 32px 0 0;
    position: relative;
    z-index: 1;
}





.footer{
    max-width: 1184px;
    width: 100%;
    padding: 92px 48px 24px;
    color: #ffffff;
    display: flex;

    
}

.footer__menu{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    
}

.footer__item{
    padding-right: 18px;
}
.footer__item:last-child{
    padding: 0;
}


.footer__link{
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
}
.footer__link:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}

.footer__copyright{
    max-width: 186px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0;
}

.footer__author{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #ffffff;
}
.footer__author:hover{
    opacity: 0.7;
    cursor: url(./images/cursor.png), pointer;
    transition: all 0.4s ease-in-out;
}