.lead__container{
    margin: 0;
    padding-top: 64px;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 1024px){

.lead__container{
    padding-top: 56px;
}

}


@media screen and (max-width: 730px){

.lead__container{
    padding-top: 40px;
}
    
}